<div class="max-w-lg mx-auto bg-white rounded-2xl p-10 shadow-lg flex flex-col items-center gap-6">

  <!-- Logo -->
  <div class="flex flex-col items-center gap-2 cursor-pointer" [routerLink]="['/']">
    <app-logo />
  </div>

  <!-- Title -->
  <div class="text-center">
    <h1 class="font-extrabold text-2xl text-gray-900">Create your account</h1>
    <p class="text-gray-500 text-sm mt-1">Join MailMonkey AI in just a minute</p>
  </div>

  <form [formGroup]="registerForm" class="flex flex-col gap-5 w-full text-sm">

    <!-- FULL NAME -->
    <div class="flex flex-col gap-1">
      <label class="text-gray-700 font-medium">Full Name</label>

      <input
        type="text"
        formControlName="fullName"
        placeholder="John Doe"
        class="p-3 rounded-xl border border-gray-300"
      />

      @if (registerForm.get('fullName')?.touched && registerForm.get('fullName')?.invalid) {
        <p class="text-red-600 text-xs">
          @if (registerForm.get('fullName')?.errors?.['required']) {
            <span>Full Name is required</span>
          }
          @if (registerForm.get('fullName')?.errors?.['minlength']) {
            <span>Full Name must be at least 3 characters long</span>
          }
        </p>
      }
    </div>

    <!-- EMAIL -->
    <div class="flex flex-col gap-1">
      <label class="text-gray-700 font-medium">Email</label>

      <input
        type="email"
        formControlName="email"
        placeholder="you@example.com"
        class="p-3 rounded-xl border border-gray-300"
      />

      @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
        <p class="text-red-600 text-xs">
          @if (registerForm.get('email')?.errors?.['required']) { <span>Email is required</span> }
          @if (registerForm.get('email')?.errors?.['email']) { <span>Invalid email</span> }
        </p>
      }
    </div>

    <!-- PASSWORD -->
    <div class="flex flex-col gap-1">
      <label class="text-gray-700 font-medium">Password</label>

      <div class="rounded-xl relative flex border border-gray-300">
        <input
          [type]="showPassword() ? 'text' : 'password'"
          formControlName="password"
          placeholder="********"
          class="p-3 w-full outline-none"
        />

        <button type="button" (click)="togglePassword()" class="absolute right-3 top-1/2 -translate-y-1/2">
          <ng-icon [name]="showPassword() ? 'heroEyeSlash' : 'heroEye'" style="width: 20px; height: 20px;" />
        </button>
      </div>

      @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid) {
        <p class="text-red-600 text-xs">
          @if (registerForm.get('password')?.errors?.['required']) { <span>Password is required</span> }
          @if (registerForm.get('password')?.errors?.['minlength']) { <span>Password must be at least 6 characters</span> }
        </p>
      }
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="flex flex-col gap-1">
      <label class="text-gray-700 font-medium">Confirm Password</label>

      <div class="rounded-xl relative flex border border-gray-300">
        <input
          [type]="showConfirmPassword() ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="********"
          class="p-3 w-full outline-none"
        />

        <button type="button" (click)="toggleConfirmPassword()" class="absolute right-3 top-1/2 -translate-y-1/2">
          <ng-icon [name]="showConfirmPassword() ? 'heroEyeSlash' : 'heroEye'" style="width: 20px; height: 20px;" />
        </button>
      </div>

      @if (registerForm.get('confirmPassword')?.touched && registerForm.errors?.['mismatch']) {
        <p class="text-red-600 text-xs">
          Passwords do not match
        </p>
      }
    </div>

     <app-button
    (cliked)="onRegister()"
    label="Create Your Account"
    customClass="w-full py-3 font-bold"

    />
  
  </form>

  <!-- Footer -->
  <p class="text-gray-600 text-sm">
    Already have an account?
    <a routerLink="/login" class="text-blue-600 font-semibold cursor-pointer">
      Sign In
    </a>
  </p>

</div>
