<div class="fixed bottom-6 right-6 flex flex-col gap-3 z-50">

  @for (t of toast.toasts(); track $index) {

    <div
      class="flex items-center gap-3 px-5 py-3 bg-white rounded-xl shadow-lg border border-gray-200 
             animate-slide-up w-max">

      <ng-icon
        [name]="t.type === 'success' ? 'heroCheckCircleSolid' : 'heroXCircleSolid'"
        class="w-5 h-5"
        [ngClass]="{
          'text-green-600': t.type === 'success',
          'text-red-600': t.type === 'error',
          'text-blue-600': t.type === 'info',
          'text-yellow-600':t.type === 'warning'
        }"
      ></ng-icon>

      <p class="text-gray-800 text-sm font-medium">{{ t.message }}</p>
    </div>

  }

</div>
