<div class="max-w-lg mx-auto bg-white rounded-2xl p-10 shadow-lg flex flex-col items-center gap-6">

  <!-- Logo -->
  <div class="flex flex-col items-center gap-2 cursor-pointer"
       [routerLink]="['/']">
    <app-logo />
  </div>

  <!-- Title -->
  <div class="text-center">
    <h1 class="font-extrabold text-2xl text-gray-900">Welcome back</h1>
    <p class="text-gray-500 text-sm mt-1">Sign in to your account to continue</p>
  </div>


  <!-- Form -->
  <form [formGroup]="loginForm"
        class="flex flex-col gap-5 w-full text-sm">

    <!-- EMAIL -->
    <div class="flex flex-col gap-1">
      <label for="email" class="text-gray-700 font-medium">Email</label>

      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="you@example.com"
        class="p-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:outline-none"
      />

      @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
        <p class="text-red-600 text-xs">
          @if (loginForm.get('email')?.errors?.['required']) {
            <span>Email is required.</span>
          }
          @if (loginForm.get('email')?.errors?.['email']) {
            <span>Enter a valid email.</span>
          }
        </p>
      }
    </div>


    <!-- PASSWORD -->
    <div class="flex flex-col gap-1">
      <div class="flex justify-between items-center">
        <label for="password" class="text-gray-700 font-medium">Password</label>
        <a href="/forgot-password" class="text-blue-600 text-sm">Forgot password?</a>
      </div>

      <div class="rounded-xl relative flex border border-gray-300">

        <input
          [type]="showPassword() ? 'text' : 'password'"
          id="password"
          formControlName="password"
          placeholder="********"
          class="border-none outline-none p-3 w-full"
        />

        <button
          type="button"
          (click)="togglePassword()"
          class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700">

          <ng-icon
            [name]="showPassword() ? 'heroEyeSlash' : 'heroEye'"
            style="width: 20px; height: 20px;" />
        </button>

      </div>

      @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
        <p class="text-red-600 text-xs">
          @if (loginForm.get('password')?.errors?.['required']) {
            <span>Password is required.</span>
          }
          @if (loginForm.get('password')?.errors?.['minlength']) {
            <span>Password must be at least 6 characters.</span>
          }
        </p>
      }
    </div>

    <!-- BUTTON -->
    <app-button
    (cliked)="onLogin()"
    label="Sign In"
    customClass="w-full py-3 font-bold"
    />

  </form>


  <!-- Divider -->
  <div class="flex items-center justify-center w-full gap-3 my-2">
    <div class="border-t border-gray-300 w-full"></div>
    <span class="text-xs text-gray-500 w-full text-center">Or continue with</span>
    <div class="border-t border-gray-300 w-full"></div>
  </div>

<div class="w-full">

  <!-- Google -->
  <app-button 
  label="Continue with Google"
  iconType="img"
  iconValue="/icons/google.png"
  customClass="w-full p-3 font-medium"
  variant="outline"
  />
</div>


  <!-- Footer -->
  <p class="text-gray-600 text-sm">
    Don't have an account?
    <a routerLink="/register" class="text-blue-600 font-semibold cursor-pointer">
      Sign up
    </a>
  </p>

</div>
